:root {
  --primary-color: #415d67;  
  --white-color: #fff;
  --valid-color: rgb(90, 215, 90);
  --invalid-color: rgb(255, 0, 0);
}

@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url('./assets/fonts/Norse-Bold.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
}

body {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 1.25rem;
}

/* left section */
.section-left {
  background-image: url('./assets/images/dune1/colin-lloyd-V72xxgvew-A-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  align-self: stretch;
  width: 35%;
  color: var(--white-color);
}

.section-left .credit {
  position: absolute;
  bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.section-left .credit a {
  color: var(--white-color);
}

.section-left .banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);
  top: 25vh;
  padding: 1rem 0;
  gap: 1rem;
}

.banner img {
  width: 110px;
}

.banner h1 {
  font-size: 6rem;
}

/* right section */
.section-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  height: 100%;
  font-weight: bold;
  font-size: 1.3rem;
}

#my-form {
  padding: 1rem 3rem;
  box-shadow: 5px 5px 10px rgba(40, 40, 40, 0.3);
  display: flex;
  flex-flow: row wrap;
}

#my-form >:first-child {
  width: 100%;
  margin: 1rem 0;
}

.form-control {
  margin-bottom: 1rem;
}

.section-right .heading,
.section-right .footing {
  padding: 3rem;
}

.section-right .heading {
  width: 60%;
}

.form-control {
  width: 50%;
}

.form-control input {
  width: 80%;
  padding: .5rem;
  border-radius: 10px;
  border-color: rgb(200, 200, 200);
  border-width: 1px;
  outline: none;
  font-size: 1rem;
}

.form-control input:focus {
  color: var(--primary-color);
  box-shadow: -3px -3px inset var(--primary-color);
  font-weight: bold;
}

.form-control input:focus:valid {
  border-width: 2px;
  border-color: var(--valid-color);
}

.form-control input:focus::placeholder {
  color: var(--primary-color);
  font-weight: lighter;
}

label[for="fname"]::after,
label[for="lname"]::after,
label[for="email"]::after,
label[for="password"]::after,
label[for="cf-password"]::after {
  content: "*";
  color: var(--invalid-color);
  font-size: 18px;
}

.footing button {
  padding: 1rem 3rem;
  border-radius: 8px;
  transition-duration: 0.6s;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footing button:hover {
  transform: scale(1.1);
  background-color: #30434b;
}

.footing a {
  color: var(--primary-color);
  text-decoration: none;
}